.nav{
    position:fixed;
    top:0;
    width:100%;
    display: flex;
    padding:20px;
    height:30px;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition:all 0.5s;
}
.nav_black{
    background-color: #111;
}
.nav__logo{
    position:fixed;
    left:20;
    width:80px;
    object-fit: contain;
}
.nav__avatar{
    position: fixed;
    right:20px;
    width:30px;
    object-fit: contain;
}